body{
  background-color: #fcde67;
  font-size: Medium;
  color: #052465;
}

table, tr, td,th {
  border: 1px solid black;
  border-collapse:collapse;
  padding:5px;
}

.user{
  color:white;
}

.footercustom {
  background-color: rgba(0, 0, 0, 0.05);color: #052465;
}

a {
  color: #052465;
  text-decoration: none;
  font-size: large;
}
a:hover {
  color: rgb(15, 74, 200);
  text-decoration: none;
  font-size: large;
}

.homesmall{
  font-size: small;
  padding-bottom: 5px;
}
